@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");
@import url("fontawesome-all.min.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* // Breakpoints */
  bp-small: 48em; /* 768px */
  bp-medium: 64em; /* 1024px */
  bp-large: 85.375em; /* 1366px */
  bp-xlarge: 120em; /* 1920px */
  bp-xxlarge: 160em; /* 2560px */
}

/* Media Queries */
/* $mq-small: "(min-width: #{$bp-small})"; */
/* $mq-medium: "(min-width: #{$bp-medium})"; */
/* $mq-large: "(min-width: #{$bp-large})"; */
/* $mq-xlarge: "(min-width: #{$bp-xlarge})"; */
/* $mq-xxlarge: "(min-width: #{$bp-xxlarge})"; */
/* $mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"; */

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
strong,
ol,
ul,
li,
form,
footer,
header,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

div,
header,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

body {
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-position: top left, center 0;
  background-attachment: fixed, fixed;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18pt;
  line-height: 1.75em;
  font-weight: 300;
  letter-spacing: 1px;
  color: #3a3939;
  text-shadow: 0 0 0.5px rgba(58, 57, 57, 0.25);
  -webkit-text-stroke: 0.25px;
  -webkit-text-size-adjust: none;
}

body.is-scroll {
  background-attachment: scroll, scroll;
  background-size: auto, 100% auto;
}

body.is-preload *,
body.is-preload *::before,
body.is-preload *::after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.75em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 1.25em;
  letter-spacing: 8px;
}

h3 {
  font-size: 1em;
  letter-spacing: 5px;
}

strong,
b {
  font-weight: 400;
}

a {
  -moz-transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -webkit-transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -ms-transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
  transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
  color: #35b88f;
  text-shadow: 0 0 0.5px rgba(53, 184, 143, 0.25);
  text-decoration: none;
  border-bottom: dotted 1px rgba(53, 184, 143, 0.5);
}

a:hover {
  border-bottom-color: rgba(53, 184, 143, 0);
}

p,
ul,
ol {
  margin-bottom: 1em;
}

header {
  margin-bottom: 1em;
  display: flex;
}

header p {
  display: block;
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  position: relative;
  align-items: center;
  margin-top: 50%;
  justify-content: center;
  overflow: hidden;
}

header p span.typed-text {
  font-weight: 800;
  color: #00ffff;
}
header p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
header p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

/* Sections*/

section {
  margin-bottom: 3em;
}

section > :last-child,
section:last-child {
  margin-bottom: 0;
}

/* List */

ul {
  list-style: disc;
  padding-left: 1em;
}

ul li {
  padding-left: 1.5em;
  margin-top: 1.5em;
}

ul li:first-child {
  margin-top: 0;
}

ol {
  list-style: decimal;
  padding-left: 1.25em;
}

ol li {
  padding-left: 1.25em;
  margin-top: 1.5em;
}

/* Icons */

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding-left: 0;
  margin-top: 0;
}

ul.icons a {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border: 0;
}

/* Button */
.button {
  -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out,
    color 0.35s ease-in-out;
  -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -webkit-appearance: none;
  position: relative;
  display: inline-block;
  border: 0;
  background: #35b88f;
  color: #fff;
  text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  padding: 1em 3em 1em 3em;
  text-align: center;
  border-radius: 3em;
  font-weight: 400;
}

button.style2,
.button.style2 {
  color: #3a3939;
  background: #fff;
  box-shadow: inset 0 0 0 1px #fff;
}

button.style2:hover,
.button.style2:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #fff !important;
  text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25) !important;
}

/* Icons */

.icon {
  text-decoration: none;
  text-decoration: none;
}

.icon::before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.icon::before {
  line-height: inherit;
}

.icon > .label {
  display: none;
}

.icon.solid::before {
  font-weight: 900;
}

.icon.brands::before {
  font-family: "Font Awesome 5 Brands";
}

/* Header */

#headerSection {
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
  position: relative;
  color: #fff;
  text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
  text-align: center;
  margin: 0;
  /* padding: 2em 0 6em 0; */
  cursor: default;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    -45deg,
    #03071e,
    #370617,
    #6a040f,
    #9d0208,
    #d00000,
    #dc2f02,
    #e85d04,
    #f48c06,
    #faa307,
    #ffba08
  );
  overflow: hidden;
  background-size: 400% 400%;
  animation: gradient-bg 15s ease infinite;
}

@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#headerSection .wave.water {
  animation: animate 25s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

#headerSection .wave.water:nth-child(2) {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
#headerSection .wave.water:nth-child(3) {
  animation: animate 30s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -5s;
  bottom: 15px;
}
#headerSection .wave.water:nth-child(4) {
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

#headerSection .header_description {
  display: inline-block;
  padding: 10em 0 4.5em 0;
}

#headerSection .header_description h1 {
  font-weight: 600;
  font-size: 2em;
  letter-spacing: 10px;
}

#headerSection .header_description p {
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.1875);
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0;
  margin-top: 0.35em;
}

#headerSection .header_description p::before {
  content: "";
  display: block;
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  margin: 4px 0 0.8em 0;
  top: 50%;
}

.intro {
  position: relative;
  top: 40%;
}

#headerSection .intro {
  -moz-transition: opacity 2s ease-in-out, -moz-transform 1s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out, -webkit-transform 1s ease-in-out;
  -ms-transition: opacity 2s ease-in-out, -ms-transform 1s ease-in-out;
  transition: opacity 2s ease-in-out, transform 1s ease-in-out;
  -moz-transition-delay: 1.25s;
  -webkit-transition-delay: 1.25s;
  -ms-transition-delay: 1.25s;
  transition-delay: 1.25s;
  position: absolute;
  margin: 0;
  width: 100%;
}
body.is-preload #headerSection {
  opacity: 0;
}

body.is-preload #headerSection .intro {
  -moz-transform: translateY(1em);
  -webkit-transform: translateY(1em);
  -ms-transform: translateY(1em);
  transform: translateY(1em);
  opacity: 0;
}

/* Banner */

#banner {
  position: relative;
  color: #fff;
  text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
  text-align: center;
  background: #35b88f url("images/banner.svg") bottom center no-repeat;
  padding: 5em 0 5em 0;
  margin: 0;
  background-size: 125% auto;
}

#banner .button {
  color: #35b882;
  text-shadow: 0 0 0.5px rgba(53, 184, 130, 0.25);
}

#banner header {
  margin: 0 0 2em 0;
}

#banner header h2 {
  font-weight: 400;
  font-size: 1.75em;
  letter-spacing: 8px;
}

#banner p {
  margin: 0;
}

#banner .intro {
  margin: 2em 0 0 0;
}

#banner a {
  color: inherit;
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

#banner a:hover {
  border-bottom-color: rgba(255, 255, 255, 0);
}

/* Footer */

#footer {
  position: relative;
  color: #fff;
  text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
  text-align: center;
  margin-top: -16em;
  height: 20px;
  z-index: 10000;
}

#footer a {
  color: inherit;
  text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

#footer a:hover {
  color: #00ffff;
  text-shadow: 0 0 0.5px rgba(69, 200, 159, 0.25);
  border-bottom-color: rgba(53, 184, 143, 0.5);
}

#footer .icons {
  padding: 0.75em 2em 0.75em 2em;
  display: inline-block;
  margin: 0 0 3em 0;
}
#footer .footer-link {
  text-decoration: none;
}

/* Wide */
@media screen and (max-width: 1680px) {
  /* Basic */

  body {
    font-size: 16pt;
    max-width: 1680px;
  }

  /* Header */

  #headerSection {
    padding: 2em 0 7em 0;
    height: 100vh;
  }
  #headerSection .header_description {
    top: -20em;
    padding: 2em 0 7em 0;
    height: 100vh;
  }

  .intro {
    padding: 0 2em 0 2em;
	position: relative;
    top: 40%;
  }
  
  #headerSection .intro::after {
    position: relative;
    top: -50%;
    left: 50%;
    height: 4.5em;
    top: 25%;
  }

  #headerSection .intro::before {
    width: 45px;
    height: 33px;
    bottom: -2.25em;
    margin-left: -22.5px;
    margin-bottom: -16.5px;
    background-size: 45px 33px;
  }
}

/* Normal */

@media screen and (max-width: 1080px) {
  /* Banner */

  #banner {
    padding: 4em 0 2em 0;
    background-size: auto, 175% auto;
  }

  /* Header */

  #headerSection {
    padding: 0 0 2em 0;
  }

  .textedanim {
    margin-top: 10px;
    color: #000;
  }

  #footer {
    margin-top: 130px;
  }
  .intro {
    position: relative;
    top: 40%;
    padding: 0 2em 0 2em;
  }
  #headerSection .intro::after {
    position: relative;
    top: -50%;
    left: 50%;
    height: 4.5em;
    top: 25%;
  }

  #headerSection .intro::before {
    width: 45px;
    height: 33px;
    bottom: -2.25em;
    margin-left: -22.5px;
    margin-bottom: -16.5px;
    background-size: 45px 33px;
  }
  #headerSection .header_description {
    top: -10em;
    padding: 3em 0 7em 0;
    height: 100vh;
  }

  #footer {
    height: 100%;
    margin-top: -15em;
  }
}

/* Narrow */

@media screen and (max-width: 840px) {
  /* Basic */
  body {
    margin: 0 auto;
    max-width: 1024px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.5em;
  }

  .header_description p {
    margin: 0.25em 0 0 0;
    padding: 0 0 0.5em 0;
  }

  /* Header */

  #headerSection {
    padding: 2em 0 5em 0;
  }

  #headerSection {
    padding: 2em 0 7em 0;
    height: 100vh;
  }
  #headerSection .header_description {
    top: -20em;
    padding: 2em 0 7em 0;
    height: 100vh;
  }

  /* Banner */

  #banner {
    padding: 3.5em;
    background-size: 200% auto;
  }

  #banner br {
    display: none;
  }

  .intro {
    position: relative;
    top: 45%;
    padding: 0 2em 0 2em;
  }

  #headerSection .intro::after {
    position: relative;
    top: -50%;
    left: 50%;
    height: 4.5em;
    top: 25%;
  }

  #headerSection .intro::before {
    width: 45px;
    height: 33px;
    bottom: -2.25em;
    margin-left: -22.5px;
    margin-bottom: -16.5px;
    background-size: 45px 33px;
  }
  #footer {
    margin-top: -15em;
    height: 100%;
  }
}

/* Mobile */

@media screen and (max-width: 736px) {
  /* Basic */

  *,
  *::before,
  *::after {
    text-shadow: none !important;
  }

  body {
    line-height: 1.5em;
    font-size: 15pt;
    letter-spacing: 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 10em;
  }

  h2 {
    font-size: 5em;
    letter-spacing: 4px;
  }

  /* List */

  ul li {
    padding-left: 0.5em;
  }

  ol li {
    padding-left: 0.25em;
  }

  /* Icons */

  ul.icons a {
    width: 2em;
    height: 2em;
    line-height: 2em;
  }

  /* Menu */

  ul.menu li {
    display: block;
    padding: 0;
    border: 0;
    margin: 1em 0 0 0;
  }

  ul.menu li:first-child {
    margin-top: 0;
  }

  /* Actions */

  ul.actions li {
    display: block;
    margin: 1em 0 0 0;
  }

  ul.actions li:first-child {
    margin-top: 0;
  }

  /* Button */

  button,
  .button {
    padding: 0.75em 0 0.75em 0;
    width: 100%;
    max-width: 320px;
  }

  /* Header */

  #headerSection {
    padding: 5em 0 4em 0;
    align-items: center;
    position: relative;
    justify-content: center;
  }

  #headerSection header {
    padding-left: 2em;
    padding-right: 2em;
    font-size: 16px;
  }

  #headerSection header h1 {
    font-size: 1.75em;
    letter-spacing: 6px;
  }

  .intro {
    top: 45%;
    padding: 0 2em 0 2em;
  }

  #headerSection .intro::after {
    position: relative;
    top: -40%;
    left: 50%;
    height: 4.5em;
    top: 25%;
  }

  #headerSection .intro::before {
    width: 45px;
    height: 33px;
    bottom: -2.25em;
    margin-left: -22.5px;
    margin-bottom: -16.5px;
    background-size: 45px 33px;
  }

  /* Banner */

  #banner {
    padding: 3em 2em 3em 2em;
    background-size: auto 150%;
  }

  #banner header {
    margin: 0 0 1em 0;
  }

  #banner header h2 {
    font-size: 1.5em;
    letter-spacing: 6px;
  }

  /* Footer */

  #footer {
    margin-top: -20em;
    height: 100%;
    padding: 0.5em 1.25em 0.5em 1.25em;
  }

  #footer .icons {
    padding: 0.5em 1.25em 0.5em 1.25em;
  }
}
